<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-light navbar-light">
  <!-- Brand -->
  <a  href="/users">User Management System</a>

  


</nav>
<br>
<br>
	<div >
		<div >
			<div>
				<h1 class = "text-center"> Create New User </h1>
				<div >
					<form th:action="@{/usercreated}" th:object = "${userempty}" method="POST">
						<div >
							<label> user Name </label>
							<input
							type = "text"
							name = "fullName"
							th:field = "*{name}"
							class = "form-control"
							placeholder="Enter user full name" 
							/>
						</div>
						
						<div >
							<label> user email for contact  </label>
							<input
							type = "email"
							name = "lastName"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter user email " 
							/>
						</div>
						
						<div >
							<label> user city  </label>
							<input
							type = "text"
							name = "text"
							th:field = "*{city}"
							class = "form-control"
							placeholder="Enter user city" 
							/>
						</div>
						
						<div >
							<button type="submit" >
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>